<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coche</title>
</head>
<body>
        <h1>Coche N°<%= coche.id %></h1>
        <br>
        <div style="background-color: bisque;">
            <p>marca:<%= coche.marca %></p>
            <p>año:<%= coche.anio %></p>
            <p>color:<%= coche.color %></p>
            <img src="<%= coche.img %>" alt="">
        </div>
</body>
</html>