<!DOCTYPE html>
<html lang="es-AR">

<head><%- include('../partials/head'); %></head>

<body>
    <header><%- include('../partials/header'); %></header>

    <main>
        <h1>EJS: Ejemplo de uso de include</h1>
        <br>
        <% if (coche?.id) { %>
            <p>Marca:<%= ` ${coche.marca}` %></p>
            <p>Modelo:<%= " " + coche.modelo %></p>
            <p>Año de fabricación:<%= coche.anio %></p>
        <% } %>

        <%#Esto es un comentario%>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>
</html>